@font-face {
  font-family: "iconfont"; /* Project id 4192425 */
  src: url('iconfont.woff2?t=1690876679653') format('woff2'),
       url('iconfont.woff?t=1690876679653') format('woff'),
       url('iconfont.ttf?t=1690876679653') format('truetype');
}

[class^="icon-my"],
[class*=" icon-my"] {
  font-family: "iconfont" !important;
  font-size:20upx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my-weixin:before {
  content: "\e668";
}

